/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.DS_Store
app/database/production.sqlite
app/database/development.sqlite
public/bower_components/*
public/npm-debug.log
bootstrap/start.php
app/database/seeds/UsersTableSeeder.php
app/views/themes/*
!app/views/themes/magazine/*
public/themes/*
!public/themes/magazine/*
Gruntfile.js
package.json
